{% extends 'base.html' %}

{% block content %}

<h1>Reggae CDMX</h1>

<a href="{% url 'create' %}"><button id="add_event" type="button" class="btn btn-secondary">Agregar evento</button></a>

<table id="events" class="table">
  <tbody>
    {% for event in events %}
    <tr class="event">
      <th scope="row">{{ event.date|date:"d/m"  }}</th>
      <td><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></td>
      <!--<td>Otto</td>-->
      <!--<td>@mdo</td>-->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
