{% extends 'base.html' %}

{% block content %}

<h1>Upcoming</h1>

<a id="add_event" href="{% url 'event_create' %}"><button type="button" class="btn btn-primary">Agregar evento</button></a>

<table id="events" class="table table-responsive">
  <tbody>
    {% for event in events %}
    <tr class="event">
      <th scope="row">{{ event.date|date:"d/m"  }}</th>
      <td><a class="show_event" href="{{ event.get_absolute_url }}">{{ event.title }}</a>,
          {{ event.venue.name }}
      </td>
      <td>
        <a class="edit_event" href="{% url 'event_update' event.id %}">
          <button class="btn btn-info btn-sm">Editar</button>
        </a>
      <td>
        <a class="delete_event" href="{% url 'event_delete' event.id %}">
          <button class="btn btn-danger btn-sm">Borrar</button>
        </a>
      </td>
      <!--<td>@mdo</td>-->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
