{% extends 'base.html' %}

{% block content %}

<h1>Reggae CDMX</h1>

<a id="add_venue" href="{ % url 'venue_create' %}"><button type="button" class="btn btn-primary">Agregar lugar</button></a>

<table id="venues" class="table table-responsive">
  <tbody>
    {% for venue in venues %}
    <tr class="venue">
      <th scope="row">{{ venue.id }}</th>
      <td>{{ venue.name }}</td>
      <td>
        <a class="edit_venue" href="{ % url 'venue_update' venue.id %}">
          <button class="btn btn-info btn-sm">Editar</button>
        </a>
      <td>
        <a class="delete_venue" href="{ % url 'venue_delete' venue.id %}">
          <button class="btn btn-danger btn-sm">Borrar</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
