[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[dev-packages]

pytest = "*"
bpython = "*"
factory-boy = "*"
mock = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-stepwise = "*"
pytest-xdist = "*"
pytest-django = "*"
selenium = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"
werkzeug = "*"
dj-inmemorystorage = "*"
detox = "*"
django-debug-toolbar = "*"
mypy = "*"
"flake8-colors" = "*"
"flake8-commas" = "*"
"flake8-deprecated" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
"pytest-flake8" = "*"


[packages]

django = "*"
django-extensions = "*"
django-braces = "*"
django-allauth = "*"
django-anymail = "*"
pillow = "*"
django-compressor = "*"
csscompressor = "*"
redis = "*"
django-redis = "*"
"psycopg2" = "*"
rollbar = "*"
