// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


// Colors
$red:    #9d080e;
$yellow: #ffb505;
$green:  #005825;

// Settings for the `<body>` element.

$body-bg:       $black;
$body-color:    $white;


// Reassign color vars to semantic color scheme
$brand-primary:             $yellow;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary;
$link-decoration:       underline;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-color:              $black;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-secondary-color:            $gray-dark;
$btn-secondary-bg:               $white;
$btn-secondary-border:           #ccc;