{% extends 'base.html' %}

{% block content %}

<h2>Venues</h2>

<table id="venues" class="table table-responsive">
  <tbody>
    {% for venue in venues %}
    <tr class="venue">
      <th scope="row">{{ venue.id }}</th>
      <td>{{ venue.name }}</td>
      <td>
        <a class="edit_venue" href="{% url 'venues:update' venue.id %}">
          <button class="button">Editar</button>
        </a>
      <td>
        <a class="delete_venue" href="{% url 'venues:delete' venue.id %}">
          <button class="button button-outline">Borrar</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
