{% extends 'base.html' %}

{% block content %}

<h2>Venues</h2>

<table id="venues" class="table table-responsive">
  <tbody>
    {% for venue in venues %}
    <tr class="venue">
      <th scope="row">{{ venue.name }}</th>
      <td>{{ venue.address }}</td>
      <td>
        <a class="" href="{% url 'venues:update' venue.id %}">
          <button class="btn btn-sm btn-blue">Editar</button>
        </a>
      </td>
      <!-- <td>
        <a class="" href="{% url 'venues:delete' venue.id %}">
          <button class="btn btn-red">Borrar</button>
        </a>
      </td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
