{% extends 'base.html' %}

{% block breadcrumbs %}
  <nav>
    <p>
     <a href="/" rel="index up">calendario</a> >
     <a>todas locaciónes</a>
    </p>
   </nav>
{% endblock breadcrumbs %}

{% block content %}

<h1>Venues</h1>

{% if user.is_staff %}
<section class="staff">
  <p>
    <a href="{% url 'venues:create' %}">Agregar locación</a>
  </p>
</section>
{% endif %}

<table id="venues" class="table table-responsive">
  <tbody>
    {% for venue in venues %}
    <tr class="venue">
      <th scope="row">{{ venue.name }}</th>
      <td>{{ venue.address }}</td>
      <td>
        <a class="" href="{% url 'venues:update' venue.id %}">
          <button class="btn btn-sm btn-blue">Editar</button>
        </a>
      </td>
      <!-- <td>
        <a class="" href="{% url 'venues:delete' venue.id %}">
          <button class="btn btn-red">Borrar</button>
        </a>
      </td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
