/* style.css for Reggae CDMX */

/* general */
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    background-color: #000;
}
a {
    color: #ffb505;
    text-decoration: none;
}

/* header */
a h1 {
    color: #fff;
}
a h1:hover {
    color: #606c76;
}

/* buttons */
input[type="submit"],
.btn {
     color: #000;;   
     background-color: #ffb505;  
     border-color: #ffb505;   
}
.message,
.btn.btn-outline {
     color: #ffb505;   
     border-color: #ffb505;   
     background-color: #000;;  
}

/* table cells */
td, th {
    /* border: none; */
    /* padding: 0 1.5rem;; */
}

/* forms */
input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], textarea, select {
    /* background-color: #fff; */
}

/* sticky footer */
.content {
   min-height: calc(100vh - 70px); 
  /* padding-top: 20px; */
}
.footer {
  height: 50px;
}