* {
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body {
  background: black;
  color: #F5ED07;
}


a {
    color: lightgreen;
}

a:hover {
    color: green;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.img-responsive {
    max-width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.header__title {
  color: #F5ED07;
  text-decoration: none;
}

/* TABLE */
.table {
  text-align: left;
  padding: 10px 0;
}

.table-responsive {
  width: 100%;
}
