* {
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
    height: 100%;
}

body {
  background: black;
  color: #F5ED07;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}


a {
    color: lightgreen;
}

a:hover {
    color: green;
}

.btn {
    background-color: grey;
    border: none;
    color: white;
    font-size: inherit;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    color: green;
}

.btn-sm {
    padding: 2px 4px;
}

.btn-green {
    background-color: lightgreen;
}
.btn-red {
    background-color: red;
}
.btn-blue {
    background-color: lightskyblue;
}


/* MESSAGES */
.message {
    color: black;
    background-color: pink;
    padding: 10px;
    margin-bottom: 5px;
}

.img-responsive {
    max-width: 100%;
}

/* STICKY FOOTER
 *
 * https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-4
 *
 */

.footer {
    height: 80px;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* HEADER */
.header__title {
  color: #F5ED07;
  text-decoration: none;
}


/* TABLE */
.table {
  text-align: left;
  padding: 10px 0;
}

.table-responsive {
  width: 100%;
}
