{% extends 'base.html' %}

{% block breadcrumbs %}
  <nav>
    <p>
     <a href="/" rel="index up">calendario</a> >
     <a>todos eventos</a>
    </p>
   </nav>
{% endblock breadcrumbs %}

{% block content %}

<h1>Todos eventos</h1>

{% if user.is_staff %}
<section class="staff">
  <p>
    <a href="{% url 'events:create' %}">Agregar evento</a>
  </p>
</section>
{% endif %}


<table id="events" class="table table-responsive">
  <tbody>
    {% for event in events %}
    <tr class="event">
      <th scope="row">{{ event.date|date:"d/m"  }}</th>
      <td>
        <a class="show_event" href="{{ event.get_absolute_url }}">
          {{ event.title }}</a>{% if event.venue.name %},
          {{ event.venue.name }}
          {% endif %}
      </td>
      <td>
        <a class="btn btn-sm btn-blue" href="{% url 'events:update' event.slug %}">Editar</a>
      <td>
        <a class="btn btn-sm btn-red" href="{% url 'events:delete' event.slug %}">Borrar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
