{% extends 'base.html' %}

{% block breadcrumbs %}
  <nav>
    <p>
     <a href="/" rel="index up">calendario</a> >
     <a>{{ event.title }}</a>
    </p>
   </nav>
{% endblock breadcrumbs %}

{% block content %}

<h1>{{ event.title }}</h1>

{% if user.is_staff %}
<section class="staff">
  <p>
    <a href="{% url 'events:update' event.slug %}">Editar</a> |
    <a class="red" href="{% url 'events:delete' event.slug %}">Borrar</a>
  </p>
</section>
{% endif %}

<p>{{ event.date|date:"l d/m" }}<p></p>
{% if event.venue %}
<p>
  {% if event.venue.url %}
    <a href="{{ event.venue.url }}">{{ event.venue.name }}</a>
  {% else %}
    {{ event.venue.name }}{% endif %}
  {% if event.venue.address %}, {{ event.venue.address }}{% endif %}
</p>
{% endif %}
{% if event.url %}
<p>
  <a href="{{ event.url }}">{{ event.url }}</a>
</p>
{% endif %}

<p>{{ event.description|linebreaks }}</p>

{% if event.flyer_image %}
  <img src="{{ event.flyer_image.url }}" class="img-responsive" />
{% endif %}

{% endblock content %}
