{% extends 'base.html' %}

{% block stylesheets %}
  {{ block.super }}

  <!-- jQueryUI datepicker -->
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block breadcrumbs %}
  <nav>
    <p>
     <a href="/" rel="index up">calendario</a> >
     <a href="{% url 'events:list' %}" rel="up up">todos eventos</a> >
     <a>agregar evento</a>
    </p>
   </nav>
{% endblock breadcrumbs %}

{% block content %}

<h1>Agregar evento</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-green" id="submit-id-submit" type="submit" value="Confirm" />
</form>

{% endblock content %}

{% block scripts %}
  {{ block.super }}

  <!-- jQuery -->
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  <!-- jQueryUI -->
  <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
  <script>
    $( function() {
      $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
      $( "#id_date" ).datepicker({ dateFormat: "dd/mm/yy" });
    } );
  </script>
{% endblock scripts %}
