<nav class="">
  <button class="" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">Menu</span>
  </button>
  <span class="">Reggae CDMX</span>

  <div class="" id="navbarSupportedContent">
    <ul class="">
      <li class="">
        <a class="" href="{% url 'index' %}">Home</a>
      </li>
      <li class="">
        <a class="" href="{% url 'events:list' %}">Events</a>
      </li>
      <li class="">
        <a class="" href="{% url 'venues:list' %}">Venues</a>
      </li>
      <li class="">
        <a class="" href="#">Artists</a>
      </li>
    </ul>
  </div>
</nav>
