{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reggae CDMX</title>

    {% block stylesheets %}

      <!-- normalize.css -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"
            integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54="
            crossorigin="anonymous" />
      {% compress css %}
      <!-- Custom CSS -->
      <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css" />
      {% endcompress %}

    {% endblock stylesheets %}

    {% if environment == 'production' %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//piwik.flowfx.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
    {% endif %}


</head>
<body>

  <div class="container">

    <header class="header">
      {% if user.is_authenticated %}
      <a class="btn btn-green" id="add_event" href="{% url 'events:create' %}">Nuevo evento</a>
      <a class="btn btn-blue" id="list_events" href="{% url 'events:list' %}">Todos eventos</a>
      <a class="btn btn-green" id="add_venue" href="{% url 'venues:create' %}">Nuevo locación</a>
      <a class="btn btn-blue" id="list_venues" href="{% url 'venues:list' %}">Todos locaciones</a>
      {% endif %}

      <a class="header__title" href="{% url 'index' %}"><h1>Reggae CDMX</h1></a>

      {% include '_messages.html' %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

  </div>  <!-- .container -->

  <footer class="footer container">
      <p>
        <span class="">
          Hecho por <a class="link green underline-hover" href="https://flowfx.de/">FlowFX</a> y
          <a href="https://www.facebook.com/Jahshua-402515579860168">Jahshua</a>.</span>
        <a class="" href="https://www.facebook.com/ReggaeCDMX/">Facebook</a>
        <a class="" href="https://twitter.com/reggae_cdmx/">Twitter</a>
        <a class="" href="https://github.com/flowfx/reggae-cdmx">GitHub</a>
        <span class="">
        {% if user.is_authenticated %}
            <a class="" id="id_logout_link" href="{% url 'account_logout' %}?next={{request.path}}">Logout</a>
        {% else %}
            <a class="" id="id_login_link" href="{% url 'account_login' %}?next={{request.path}}">Login</a>
        {% endif %}
        </span>
      </p>
  </footer>

  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
