{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reggae CDMX</title>

    <!-- Tachyons CSS -->
    <link href="https://unpkg.com/tachyons/css/tachyons.min.css" rel="stylesheet" type="text/css" />

    {% compress css %}
    <!-- Custom CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//piwik.flowfx.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->


</head>
<body class="sans-serif bg-near-black yellow pa4">

    <div class="wrapper">

        <div class="content">

            <h1>Reggae CDMX</h1>
         
            {% include '_messages.html' %} 

            {% if user.is_authenticated %}
            <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-green" id="add_event" href="{% url 'events:create' %}">Nuevo evento</a>
            <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-green" id="list_events" href="{% url 'events:list' %}">Todos evento</a>
            <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-green" id="add_venue" href="{% url 'venues:create' %}">Nuevo locación</a>
            <a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-green" id="list_venues" href="{% url 'venues:list' %}">Todos locaciones</a>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>  <!-- .content -->

        <footer class="pv5 pv6-l">
            <p class="f6">
              <span class="dib mr2 mr3-ns">Made by <a class="link green underline-hover" href="https://flowfx.de/">FlowFX</a></span> 
              <a class="link green underline-hover" href="https://www.facebook.com/ReggaeCDMX/">Facebook</a>
              <a class="link green underline-hover" href="https://twitter.com/reggae_cdmx/">Twitter</a>
              <a class="link green underline-hover" href="https://github.com/flowfx/reggae-cdmx">GitHub</a>
              <span class="dib ml2 ml3-ns">
              {% if user.is_authenticated %}
                  <a class="link green underline-hover" id="id_logout_link" href="{% url 'account_logout' %}?next={{request.path}}">Logout</a>
              {% else %}
                  <a class="link green underline-hover" id="id_login_link" href="{% url 'account_login' %}?next={{request.path}}">Login</a>
              {% endif %}
              </span>
            </p>
        </footer>
    </div>

</body>
</html>
