{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reggae CDMX</title>

    <!-- Tachyons CSS -->
    <link href="https://unpkg.com/tachyons/css/tachyons.min.css" rel="stylesheet">

</head>
<body class="sans-serif bg-near-black yellow pa3">

    <div class="wrapper">

        <div class="content">

            <a href="{% url 'index' %}"><h1>Reggae CDMX</h1></a>
         
            {% include '_messages.html' %} 

            {% if user.is_authenticated %}
            <a class="link green" id="add_event" href="{% url 'events:create' %}">Nuevo evento</a>
            <a class="link green" id="list_events" href="{% url 'events:list' %}">Todos evento</a>
            <a class="link green" id="add_venue" href="{% url 'venues:create' %}">Nuevo locación</a>
            <a class="link green" id="list_venues" href="{% url 'venues:list' %}">Todos locaciones</a>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>  <!-- .content -->

        <footer class="footer flex">
            <span class="flex-auto">
                Made by <a href="https://flowfx.de/">FlowFX</a> –
                <a class="link green" href="https://www.facebook.com/ReggaeCDMX/">Facebook</a>
                <a class="link green" href="https://www.instagram.com/reggae_cdmx/">Instagram</a>
                <a class="link green" href="https://twitter.com/reggae_cdmx/">Twitter</a>
                <a class="link green" href="https://github.com/flowfx/reggae-cdmx">GitHub</a>
            </span>
            <span>
            {% if user.is_authenticated %}
                <a id="id_logout_link" href="{% url 'account_logout' %}?next={{request.path}}">Logout</a>
            {% else %}
                <a id="id_login_link" href="{% url 'account_login' %}?next={{request.path}}">Login</a>
            {% endif %}
            </span>
        </footer>
    </div>

</body>
</html>
