{% extends 'base.html' %}

{% block breadcrumbs %}
  <nav>
    <p>
     <a href="/" rel="index up">calendario</a> >
     <a href="{% url 'venues:list' %}" rel="up up">todas locaciónes</a> >
     <a>agregar locación</a>
    </p>
   </nav>
{% endblock breadcrumbs %}

{% block content %}

<h1>Agregar locación</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-green" id="submit-id-submit" type="submit" value="Confirm" />
</form>

{% endblock content %}
